  /* Webpages Stylesheet */


@import url(http://fonts.googleapis.com/css?family=News+Cycle);

body {
  font-family: 'News Cycle', Georgia, serif;
  text-color: purple;
  padding: 10px;
  background: pink;
}

h1, h3 {
  font-family: 'News Cycle';
  font-style: normal;
  font-weight: bold;

}

h1 {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 22pt;
}

h3 {
  margin-top: 10px;
}

#name {
  margin: 20px;
  text-align: center;
  float: center;
  padding: inherit;
}

p {
  font-family: 'News Cycle', Georgia, serif;
  line-height: 8px;
}

nav ul li {
       list-style: none;
       text-align: center;
       border-width: 2px;
       border-style: none;
       padding-right: 1.8em;
       padding-left: 1.8em;
}



.ul {
  min-height: 2px;
  max-height: 2px;
  border: 1px;
  padding: 1em; /* 16 px */
  font-weight: bold;
}

.contact {
  padding: 20px;
  margin: 20px;
  text-align: center;
  margin-top: 30px;
  border-width: 2px;
  border-style: dashed;
  border-color: purple;
  background: white;
}

.about {
  padding: 20px;
  margin: 20px;
  margin-top: 30px;
  border-width: 2px;
  border-style: dashed;
  border-color: purple;
  background: white;
}

.about p {
  line-height: 1.6em;
}


li{
  list-style: square;
  margin-right: 10px;
}


.skills, .experience, .education {
  border-width: 2px;
  border-style: dashed;
  border-color: purple;
  background: white;
  margin: 20px;
  padding: 20px;
}

#footer {
  float: right;
}

a, a:visited {
  color: green;
}

a:link {
  color: purple;
}

a:hover, a:focus {
  color: green;
}
