/* Mobile Stylesheet */

body {
    font-family: "Georgia", serif;
    background: pink;
    font-size: 12px;
    max-width: 320px;
    background-size: 100%;
}

ul {
    list-style-type: none;
}


a, a:visited {
  color: green;
}

a:link {
  color: purple;
}

a:hover, a:focus {
  color: green;
  }

#footer {
  float: right;
}
