header {
  text-align: center;
}

body {
  font-family: Times, Georgia, serif;
  font-size: 11pt;
  background-size: 100%;
  background: none;
}


h1, h3 {
  font-family: Times;
  font-style: normal;
  font-size: 15pt;
  font-weight: bold;
  margin: .5em;
}


p {
  margin: 0;
  text-transform: uppercase;
  border-style:none;
  font-family: Times, Georgia, serif;
  margin-left: .5em;
}



li{
  list-style: square;
}


#footer {
  text-align: left;
}
